/* Share style  */
* {
  margin: 0;
  padding: 0;
}
.fira-sans-normal {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
}
body {
  max-width: 1280px;
  margin: 0 auto;
}
:root {
  --black: #0e0e0e;
  --grenn: #006a50;
  --white: #ffffff;
}
.btn-primary {
  background-color: var(--grenn);
  color: var(--white);
  border: none;
  border-radius: 8px;
}
/* Header Style */

/* Nav Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  margin-top: 24px;
}
.logo {
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
}
nav button {
  font-size: 18px;
  font-weight: 600;
  color: var(--grenn);
  border-radius: 8px;
  border: 1px solid var(--grenn);
  padding: 15px 30px;
}
/* Banner Section */
.banner {
  background-color: #c6e4d6;
  height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
  padding: 80px 60px;
  border-radius: 24px;
}
.b-title {
  color: var(--black);
  opacity: 50%;
  font-size: 24px;
  font-weight: 500;
}
.b-sub-title {
  font-size: 56px;
  font-weight: 700;
  width: 622px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.b-btn {
  font-size: 18px;
  font-weight: 600;
  height: 56px;
  width: 270px;
}

/* Pillars of "Bangladesh 2.0" */
.p-title {
  font-size: 40px;
  font-weight: bold;
  color: var(--black);
  margin-top: 80px;
  margin-bottom: 32px;
}
.pillars-card {
  display: flex;
  justify-content: space-between;
}
.p-card {
  width: 254px;
  color: var(--white);
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  border-radius: 16px;
}
.pc-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 24px;
  margin-bottom: 12px;
}
.pc-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
}
/* The Vision of Future */

.v-title {
  font-size: 40px;
  font-weight: bold;
  color: var(--black);
  margin-top: 80px;
  margin-bottom: 24px;
}
.v-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.vision-card {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}
.v-card {
  padding: 32px;
  width: 346.67px;
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
}
.vc-green {
  background-color: rgba(198, 228, 214, 1);
  button {
    background-color: #09a15c;
  }
}
.vc-yellow {
  background-color: rgba(247, 235, 207, 1);
  button {
    background-color: #ffc239;
  }
}
.vc-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
}
.vc-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 24px;
}
.vc-btn {
  width: 122px;
  height: 41px;
  font-size: 16px;
  font-weight: 600;
  background-color: #5490f5;
}
